<style>
div#tiles div.selected {
	background-color: yellow;
	}

div#tiles div.used {
	background-color: red;
	cursor: not-allowed;
	}

div#tiles div {
	font-size: 36px;
	border: 2px solid black;
	width: 100px;
	float: left;
	margin: 2px;
	text-align: center;
	cursor: pointer;
	}

div.dice {
	margin: 5px;
	float: left;
	font-size: 38px;
	border: 3px solid red;
	width: 40px;
	height: 40px;
	text-align: center;
	}

button#rollDice {
	float: bottom;
	}
</style>
